<div class="card" *ngIf="environmentsService.getCurrentEnvironment() | async; let env">
    <div class="card-header bg-warning">
        <i class="far fa-window-maximize mr-2"></i>{{ application.name }}
    </div>
    <div class="card-body">
        <div *ngIf="authenticationMode === 'ccloud' && (currentEnvApplicationApiKey | async) == null">
            <i>{{ 'NO_API_KEY_FOR_APP' | translate }}&#32;
                <a [routerLink]=""
                   (click)="openApiKeyDialog.emit({ application: application, environment: env });">{{ 'Create Api Key now' | translate }}</a>
            </i>
        </div>
        <div *ngIf="authenticationMode === 'certificates' && (currentEnvApplicationCertificate | async) == null">
            <i>{{ 'NO_CERTIFICATE_FOR_APP' | translate }}&#32;
                <a [routerLink]=""
                   (click)="openCertificateDialog.emit({ application: application, environment: env });">{{ 'Generate new Certificate' | translate }}</a>
            </i>
        </div>
        <div *ngIf="(currentEnvApplicationApiKey | async) || (currentEnvApplicationCertificate | async)">
            <p><i
                [innerHTML]="'APPLICATION_ENV_HINT_HTML' | translate: { environmentName: (environmentsService.getCurrentEnvironment() | async)?.name }"></i>
            </p>
            <ngb-accordion #acc="ngbAccordion"
                           [activeIds]="['_panel_topics']">
                <ngb-panel [id]="'_panel_topics'">
                    <ng-template ngbPanelTitle>
                        <span><i class="fa fa-layer-group mr-2"></i>{{ 'Topics' | translate }}</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{ 'Owned Topics' | translate }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let t of application.owningTopics">
                                            <td>
                                                <code><a [routerLink]="'/topics/' + t">{{ t }}</a></code>
                                            </td>
                                        </tr>
                                        <tr *ngIf="application.owningTopics.length === 0">
                                            <td>
                                                <i>{{ 'No topics found.' | translate }}</i>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{ 'Subscribed Topics' | translate }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let t of application.usingTopics | async">
                                            <td>
                                                <code><a [routerLink]="'/topics/' + t">{{ t }}</a></code>
                                            </td>
                                        </tr>
                                        <tr *ngIf="(application.usingTopics | async)?.length === 0">
                                            <td>
                                                <i>{{ 'No topics found.' | translate }}</i>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel [id]="'_panel_rights'">
                    <ng-template ngbPanelTitle>
                        <span><i class="fas fa-key mr-2"></i>{{ 'Kafka Access Rights' | translate }}</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <table class="table">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <th>{{ 'Prefixes for internal topics' | translate }}</th>
                                <td>
                                    <ul id="internalTopicPrefixes">
                                        <li *ngFor="let prefix of internalTopicPrefixes | async">
                                            <code>{{ prefix }}</code>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'Prefixes for consumer group IDs' | translate }}</th>
                                <td>
                                    <ul id="consumerGroupPrefixes">
                                        <li *ngFor="let prefix of consumerGroupPrefixes | async">
                                            <code>{{ prefix }}</code>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>{{ 'Prefixes for transactional IDs' | translate }}</th>
                                <td>
                                    <ul id="transactionIdPrefixes">
                                        <li *ngFor="let prefix of transactionIdPrefixes | async">
                                            <code>{{ prefix }}</code>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-panel>
                <ngb-panel [id]="'_panel_authentication'">
                    <ng-template ngbPanelTitle>
                        <ng-container [ngSwitch]="authenticationMode">
                            <span *ngSwitchCase="'certificates'"><i
                                class="fas fa-award mr-2"></i>{{ 'Certificate Info' | translate }}</span>
                            <span *ngSwitchCase="'ccloud'"><i
                                class="fas fa-award mr-2"></i>{{ 'Client Access' | translate }}</span>
                        </ng-container>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <ng-container [ngSwitch]="authenticationMode">
                            <div *ngSwitchCase="'certificates'">
                                <ng-container *ngTemplateOutlet="certificatePanel"></ng-container>
                            </div>
                            <div *ngSwitchCase="'ccloud'">
                                <ng-container *ngTemplateOutlet="apiKeyPanel"></ng-container>
                            </div>
                        </ng-container>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>

<ng-template #apiKeyPanel>
    <table class="table">
        <thead></thead>
        <tbody>
        <tr>
            <th>{{ 'SAML Username' | translate }}</th>
            <td>
                <code id="apiKey">{{ apiKey }}</code>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" class="btn btn-danger mr-2"
                        [title]=" 'KEY_BUTTON_TITLE' | translate:{ env: currentEnv.name }"
                        (click)="openApiKeyDialog.emit({ application: application, environment: currentEnv })">
                    <i class="fas fa-award"></i>&nbsp;{{ 'New login details' | translate }}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</ng-template>
<ng-template #certificatePanel>
    <table class="table">
        <thead></thead>
        <tbody>
        <tr>
            <th>{{ 'Certificate DN' | translate }}</th>
            <td>
                <code>{{ (currentEnvApplicationCertificate | async).dn }}</code>
            </td>
        </tr>
        <tr>
            <th>{{ 'Expiry Date' | translate }}</th>
            <td>
                <b>{{ expiryDateString | async }}</b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" class="btn btn-danger mr-2"
                        [title]=" 'CERT_BUTTON_TITLE' | translate:{ env: currentEnv.name }"
                        (click)="openCertificateDialog.emit({ application: application, environment: currentEnv })">
                    <i class="fas fa-award"></i>&nbsp;{{ 'Create / extend application certificate' | translate }}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</ng-template>
