<div [@routerTransition]>
    <h2 class="text-muted">{{ 'My Applications' | translate }}</h2>
    <hr/>
    <div class="row mb-4" *ngFor="let app of userApplications | async">
        <div class="col-md-12">
            <app-application-block [application]="app" [apiKey]="key"
                                   (openApiKeyDialog)="openApiKeyDlg($event, keyDlg)"></app-application-block>
        </div>
    </div>
    <div *ngIf="(userApplications | async)?.length === 0">
        <p>
            <i>{{ 'NO_APPLICATIONS_USER_INFO' | translate }}</i>
        </p>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-hermes text-white">
                    <i
                        class="fas fa-key fa-fw"></i>&nbsp;{{ 'Request Application Topic Administrator Role' | translate }}
                </div>
                <div class="card-body">
                    <form #appForm="ngForm">
                        <div class="form-group form-inline">
                            <label style="margin-right: 1em"
                                for="app_picker">{{ 'Select Application' | translate }}</label>
                            <select class="form-control" name="appPicker" id="app_picker"
                                [(ngModel)]="selectedApplicationForRequest">
                                <option *ngFor="let app of availableApplications | async" [ngValue]="app">{{ app.name }}
                                </option>
                            </select>
                            <span class="ml-3 text-muted" [style.display]="appListLoading ? 'inline' : 'none'"><i
                                    class="fas fa-cog fa-spin"></i></span>
                        </div>
                        <div class="form-group">
                            <label for="reason">{{ 'Reason / comments (optional)' | translate }}:</label>
                            <textarea id="reason" name="comments" class="form-control" rows="4" maxlength="1000" #box
                                      [(ngModel)]="commentsForRequest"></textarea>
                            <p class="text-muted">{{ 'REMAINING_CHARACTERS_TEXT' | translate:{characters: 1000 - box.value.length} }}</p>
                        </div>
                        <button type="button" class="btn btn-warning" (click)="d.while(submitRequest())" appSpinnerWhile
                            #d="appSpinnerWhile">
                            <i class="fas fa-envelope fa-fw"></i>&nbsp;{{ 'Submit Request' | translate }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="(userRequests | async)?.length">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-hermes text-white">
                    <i class="fas fa-key fa-fw"></i>&nbsp;{{ 'My requests (last 30 days)' | translate }}
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ 'Date' | translate }}</th>
                                <th>{{ 'Application' | translate }}</th>
                                <th>{{ 'State' | translate }}</th>
                                <th>{{ 'Last updated at' | translate }}</th>
                                <th>{{ 'Last updated by' | translate }}</th>
                                <th>{{ 'Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let req of userRequests | async">
                                <td>{{ niceTimestamp(req.createdAt) }}</td>
                                <td>{{ toAppName(req.applicationId) | async }}</td>
                                <td>
                                    <span class="badge" [class.badge-secondary]="req.state === 'SUBMITTED'"
                                        [class.badge-success]="req.state === 'APPROVED'"
                                        [class.badge-warning]="req.state === 'RESIGNED'"
                                        [class.badge-danger]="req.state === 'REJECTED' || req.state === 'REVOKED'">{{ req.state }}</span>
                                </td>
                                <td>{{ niceTimestamp(req.lastStatusChangeAt) }}</td>
                                <td>{{ req.lastStatusChangeBy }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="d.while(cancelRequest(req))"
                                        appSpinnerWhile #d="appSpinnerWhile" [disabled]="req.state !== 'SUBMITTED' && req.state !== 'APPROVED'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #keyDlg let-keyDlg>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'Generate API Key' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="keyDlg.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-info mb-3">
            <!--suppress TypeScriptUnresolvedVariable -->
            {{ 'Application' | translate }}: {{ apiKeyDlgData.applicationName }}
            , {{ 'Environment' | translate }}:
            <b>{{ apiKeyDlgData.environment?.name }}</b>
        </div>
        <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="nav-tabs">
            <li [ngbNavItem]="'new'">
                <a ngbNavLink>{{ 'Generate new API Key' | translate }}</a>
                <ng-template ngbNavContent>
                    <div class="alert alert-danger mb-4 mt-3" *ngIf="apiKeyDlgData.existingApiKey">
                        <!--suppress TypeScriptUnresolvedVariable -->
                        <span
                            [innerHTML]="'API_KEY_ALREADY_EXISTS_WARNING_HTML' | translate:{ env: apiKeyDlgData.environment?.name }"></span>
                    </div>
                    <div>
                        <button appSpinnerWhile #d="appSpinnerWhile" id="apikeyButton" type="button"
                                class="btn btn-warning btn-lg mb-4 mt-2"
                                (click)="d.while(generateApiKey())">
                            <i class="fas fa-key"></i>&nbsp;{{ 'Generate API Key' | translate }}
                        </button>
                    </div>
                    <div *ngIf="showApiKeyTable">
                        <ngb-alert [innerHTML]="'SAVE_KEY_WARNING' | translate" [dismissible]="false">
                        </ngb-alert>
                        <table class="table table-bordered table-sm">
                            <tbody>
                            <tr>
                                <th scope="row"><i class="fas fa-key"></i>&nbsp;Key</th>
                                <td>{{key}}</td>
                                <button (click)="copyValue(key)"
                                        class="btn btn-outline-secondary btn-sm ml-3 mt-1 mb-1"><i
                                    class="fas fa-copy"></i>
                                    <span class="ml-1" *ngIf="copiedKey"> {{ 'Copied!' | translate}}</span>
                                </button>
                            </tr>
                            <tr>
                                <th scope="row"><i class="fas fa-user-secret"></i>&nbsp;Secret</th>
                                <td>{{secret}}</td>
                                <button (click)="copyValue(secret)"
                                        class="btn btn-outline-secondary btn-sm ml-3 mt-1 mb-1"><i
                                    class="fas fa-copy"></i>
                                    <span class="ml-1" *ngIf="copiedSecret"> {{ 'Copied!' | translate}}</span>
                                </button>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="handleDlgDismiss(); keyDlg.dismiss()"><i
            class="fas fa-times"></i>&nbsp;{{ 'Cancel' | translate }}</button>
    </div>
</ng-template>
