<div [@routerTransition]>
    <h2 class="text-muted">{{ 'My Applications' | translate }}</h2>
    <hr/>
    <div class="row mb-4" *ngFor="let app of userApplications | async">
        <div class="col-md-12">
            <app-application-block [application]="app"
                                   (openCertificateDialog)="openCertDlg($event, certDlg)"></app-application-block>
        </div>
    </div>
    <div *ngIf="(userApplications | async)?.length === 0">
        <p>
            <i>{{ 'NO_APPLICATIONS_USER_INFO' | translate }}</i>
        </p>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-hermes text-white">
                    <i
                        class="fas fa-key fa-fw"></i>&nbsp;{{ 'Request Application Topic Administrator Role' | translate }}
                </div>
                <div class="card-body">
                    <form #appForm="ngForm">
                        <div class="form-group form-inline">
                            <label style="margin-right: 1em"
                                for="app_picker">{{ 'Select Application' | translate }}</label>
                            <select class="form-control" name="appPicker" id="app_picker"
                                [(ngModel)]="selectedApplicationForRequest">
                                <option *ngFor="let app of availableApplications | async" [ngValue]="app">{{ app.name }}
                                </option>
                            </select>
                            <span class="ml-3 text-muted" [style.display]="appListLoading ? 'inline' : 'none'"><i
                                    class="fas fa-cog fa-spin"></i></span>
                        </div>
                        <div class="form-group">
                            <label for="reason">{{ 'Reason / comments (optional)' | translate }}:</label>
                            <textarea id="reason" name="comments" class="form-control" rows="4" maxlength="1000" #box
                                      [(ngModel)]="commentsForRequest"></textarea>
                            <p class="text-muted">{{ 'REMAINING_CHARACTERS_TEXT' | translate:{characters: 1000 - box.value.length} }}</p>
                        </div>
                        <button type="button" class="btn btn-warning" (click)="d.while(submitRequest())" appSpinnerWhile
                            #d="appSpinnerWhile">
                            <i class="fas fa-envelope fa-fw"></i>&nbsp;{{ 'Submit Request' | translate }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="(userRequests | async)?.length">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-hermes text-white">
                    <i class="fas fa-key fa-fw"></i>&nbsp;{{ 'My requests (last 30 days)' | translate }}
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ 'Date' | translate }}</th>
                                <th>{{ 'Application' | translate }}</th>
                                <th>{{ 'State' | translate }}</th>
                                <th>{{ 'Last updated at' | translate }}</th>
                                <th>{{ 'Last updated by' | translate }}</th>
                                <th>{{ 'Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let req of userRequests | async">
                                <td>{{ niceTimestamp(req.createdAt) }}</td>
                                <td>{{ toAppName(req.applicationId) | async }}</td>
                                <td>
                                    <span class="badge" [class.badge-secondary]="req.state === 'SUBMITTED'"
                                        [class.badge-success]="req.state === 'APPROVED'"
                                        [class.badge-warning]="req.state === 'RESIGNED'"
                                        [class.badge-danger]="req.state === 'REJECTED' || req.state === 'REVOKED'">{{ req.state }}</span>
                                </td>
                                <td>{{ niceTimestamp(req.lastStatusChangeAt) }}</td>
                                <td>{{ req.lastStatusChangeBy }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="d.while(cancelRequest(req))"
                                        appSpinnerWhile #d="appSpinnerWhile" [disabled]="req.state !== 'SUBMITTED' && req.state !== 'APPROVED'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #certDlg let-dlg>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'Generate Application Client Certificate' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dlg.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-info mb-3">
            {{ 'Application' | translate }}: {{ certificateDlgData.applicationName }}
            , {{ 'Environment' | translate }}:
            <b>{{ certificateDlgData.environment?.name }}</b>
        </div>
        <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" (navChange)="handleDlgTabChange($event)" class="nav-tabs">
            <li [ngbNavItem]="'new'">
                <a ngbNavLink>{{ 'Generate new Certificate' | translate }}</a>
                <ng-template ngbNavContent>
                    <div class="alert alert-danger mb-4 mt-3" *ngIf="certificateDlgData.existingCertificate">
                        <!--suppress TypeScriptUnresolvedVariable -->
                        <span
                            [innerHTML]="'CERTIFICATE_ALREADY_EXISTS_WARNING_HTML' | translate:{ env: certificateDlgData.environment?.name }"></span>
                    </div>
                    <div class="mt-3">
                        <form role="form">
                            <fieldset class="form-group">
                                <div class="radio">
                                    <label>
                                        <input id="csrRadio" type="radio" name="hasCsr" value="hasCsr"
                                               [(ngModel)]="certificateCreationType" #hasCsr/>&nbsp;<span
                                        [innerHTML]=" 'CSR_LABEL_HTML' | translate"></span>
                                    </label>
                                </div>
                                <p class="help-text small ml-4" *ngIf="hasCsr.checked">
                                    <app-openssl-command [commonName]="certificateDlgData.commonName"
                                                         [keyfileName]="certificateDlgData.keyfileName"
                                                         [generateKey]="true"></app-openssl-command>
                                </p>
                                <div *ngIf="hasCsr.checked">
                                    <label for="csrDataNew">{{ 'CSR_CODE_TEXT' | translate }}:</label>
                                    <textarea id="csrDataNew" name="csrData" class="form-control"
                                              style="font-family: 'Courier New', Courier, monospace" rows="6"
                                              [(ngModel)]="certificateDlgData.csrData"
                                              [placeholder]="'-----BEGIN CERTIFICATE REQUEST-----\n...\n-----END CERTIFICATE REQUEST-----'"></textarea>
                                </div>
                                <div class="radio">
                                    <label>
                                        <!--suppress TypeScriptUnresolvedVariable -->
                                        <input type="radio" value="noCsr" name="hasCsr"
                                        <input id="noCsrRadio" type="radio" value="noCsr" name="noCsr"
                                               [(ngModel)]="certificateCreationType"
                                               [disabled]="certificateDlgData.environment?.production"/>&nbsp;<span
                                        [innerHTML]="'CERT_WITH_PRIVATE_KEY_HTML' | translate"></span>
                                    </label>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="'extend'" [disabled]="!certificateDlgData.existingCertificate">
                <a ngbNavLink>{{ 'Extend existing Certificate' | translate }}</a>
                <ng-template ngbNavContent>
                    <ngb-alert class="mt-3" [type]="certificateDlgData.expiryWarningType" [dismissible]="false">
                        <span [innerHTML]="certificateDlgData.expiryWarningHtml | async"></span>
                    </ngb-alert>
                    <div class="mt-3">
                        <p [innerHTML]="'EXTEND_CERTIFICATE_HTML' | translate"></p>
                        <p [innerHTML]="'EXTEND_CERTIFICATE_COMMAND_HTML' | translate: { keyfile: certificateDlgData.keyfileName }">
                        </p>
                        <app-openssl-command [commonName]="certificateDlgData.commonName"
                                             [orgUnitName]="certificateDlgData.orgUnitName"
                                             [keyfileName]="certificateDlgData.keyfileName"
                                             [generateKey]="false"></app-openssl-command>
                        <label class="mt-3" for="extendCsr">{{ 'CSR_CODE_TEXT' | translate }}:</label>
                        <textarea id="extendCsr" name="csrData" class="form-control"
                                  style="font-family: 'Courier New', Courier, monospace" rows="6"
                                  [(ngModel)]="certificateDlgData.csrData"
                                  [placeholder]="'-----BEGIN CERTIFICATE REQUEST-----\n...\n-----END CERTIFICATE REQUEST-----'"></textarea>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="modal-footer">
        <button id="certButton" type="button" class="btn btn-warning" (click)="generateCertificate(); dlg.dismiss()"
                [disabled]="activeTab === 'new' ? (certificateCreationType === 'hasCsr' && !certificateDlgData.csrData) : !certificateDlgData.csrData">
            <i class="fas fa-cogs"></i>&nbsp;{{ 'Generate Client Certificate' | translate }}
        </button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="dlg.dismiss()"><i
            class="fas fa-times"></i>&nbsp;{{ 'Cancel' | translate }}</button>
    </div>
</ng-template>
