<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProperty scope="context" name="activeProfile" source="spring.profiles.active" defaultValue="not-set"/>
    <jmxconfigurator/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.apache.kafka.clients.consumer.internals" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
