<div class="card-header bg-hermes text-white"><i
    class="fas fa-info mr-3"></i>{{ 'General' | translate }}</div>
<div class="card-body table-responsive">
    <table class="table">
        <tr>
            <th scope="row">{{ 'Topic Name' | translate }}</th>
            <td>{{ topic.name }}</td>
        </tr>
        <tr>
            <th scope="row">{{ 'Topic Type' | translate }}</th>
            <td>{{ topic.topicType === 'DATA' ? 'MASTER DATA' : topic.topicType}}</td>
        </tr>
        <tr>
            <th scope="row">{{ 'Description' | translate }}</th>
            <td>{{ topic.description }}
                <span *ngIf="topic.deprecated">
                                       <span class="deprecatedNote">Deprecated</span>
                                        <span class="deprecationText">{{topic.deprecationText}}</span>
                                        </span>
                <button
                    *ngIf="isOwnerOfTopic && !(selectedEnvironment | async)?.stagingOnly"
                    appSpinnerWhile
                    #p="appSpinnerWhile"
                    (click)="openChangeDescDlg(updateTopicDescription)"
                    class="btn btn-primary btn-sm ml-3"><i class="fas fa-edit"></i>
                    {{ 'Edit' | translate }}
                </button>
            </td>
        </tr>
        <tr *ngIf="topic.deprecated">
            <th scope="row">{{ 'Usable until' | translate }}</th>
            <td class="text-danger">{{ getEolDateForCurrentLang(topic.eolDate) }}
                <button *ngIf="isOwnerOfTopic" class="btn btn-sm btn-danger ml-4"
                        appSpinnerWhile
                        #del="appSpinnerWhile"
                        (click)="del.while(handleUnDeprecationRequest())"><i
                    class="fas fa-times mr-2"></i>{{ 'UNMARK_DEPRECATION' | translate }}
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row">{{ 'Owning Application' | translate }}</th>
            <td>
                <a *ngIf="topic.ownerApplication?.infoUrl; else infoUrlText"
                   [href]="topic.ownerApplication?.infoUrl"
                   target="_blank">{{ topic.ownerApplication?.name }}</a>
                <ng-template #infoUrlText>
                    <span>{{ topic.ownerApplication?.name }}</span>
                </ng-template>
            </td>
        </tr>
        <tr *ngIf="topic.producers?.length > 0">
            <th scope="row">{{ 'Additional producers' | translate }}</th>
            <td>
                <ul *ngIf="(producerApps| async)?.length">
                    <li *ngFor="let producer of producerApps | async ">
                        <a *ngIf="producer.infoUrl; else infoUrlTextSub"
                           [href]="producer.infoUrl"
                           target="_blank">{{ producer.name }}</a>
                        <ng-template #infoUrlTextSub>
                            <span>{{ producer.name }}</span>
                        </ng-template>
                        <span *ngIf="isOwnerOfTopic && !(selectedEnvironment | async)?.stagingOnly" class="ml-3">
                            <button class="btn btn-sm btn-danger mt-1 mb-1" appSpinnerWhile #del="appSpinnerWhile"
                                    (click)="openDeleteProducerDlg(producer,deleteProducerDlg)">
                                <i class="fas fa-eraser mr-1"></i>{{ 'Delete Producer' | translate }}
                            </button>
                             <button class="btn btn-sm btn-warning ml-3" appSpinnerWhile #del="appSpinnerWhile"
                                     (click)="openChangeOwnerDlg(producer,changeOwnerDlg)">
                                <i class="fas fa-arrow-up mr-1"></i>{{ 'CHANGE_OWNER_TEXT' | translate }}
                            </button>
                        </span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row">{{ 'Subscribers' | translate }}</th>
            <td *ngIf="!loadingSubscribers">
                <ul *ngIf="topicSubscribers?.length">
                    <li *ngFor="let sub of approvedTopicSubscribers">
                        <a *ngIf="sub.clientApplication.infoUrl; else infoUrlTextSub"
                           [href]="sub.clientApplication.infoUrl"
                           target="_blank">{{ sub.clientApplication.name }}</a>
                        <ng-template #infoUrlTextSub>
                            <span>{{ sub.clientApplication.name }}</span>
                        </ng-template>

                        <span
                            *ngIf="sub.canDelete"
                            class="ml-3">
                                                    <button
                                                        class="btn btn-sm btn-danger mt-1 mb-1"
                                                        appSpinnerWhile
                                                        #del="appSpinnerWhile"
                                                        (click)="openRejectConfirmDlg(sub, rejectConfirmDlgNoApprove)"
                                                    >
                                                        <i class="fas fa-eraser mr-1"></i>{{ 'Unsubscribe' | translate }}
                                                    </button>
                                                </span>
                        <span
                            *ngIf="isOwnerOfTopic && topic?.subscriptionApprovalRequired"
                            class="ml-3">
                                                    <button
                                                        class="btn btn-sm btn-danger"
                                                        (click)="openRejectConfirmDlg(sub, rejectConfirmDlg)"
                                                    >
                                                        <i class="fas fa-ban mr-1"></i>
                                                        <span
                                                            *ngIf="sub.state === 'APPROVED'">{{ 'Cancel' | translate }}</span>
                                                        <span
                                                            *ngIf="sub.state !== 'APPROVED'">{{ 'Reject' | translate }}</span>
                                                    </button>
                                                </span>
                    </li>
                    <li *ngFor="let sub of pendingTopicSubscribers">
                        <a *ngIf="sub.clientApplication.infoUrl; else infoUrlText"
                           [href]="sub.clientApplication.infoUrl"
                           target="_blank">
                            <i>{{ sub.clientApplication.name }}</i></a>
                        <ng-template #infoUrlText>
                            <span><i>{{ sub.clientApplication.name }}</i></span>
                        </ng-template>
                        <i>&nbsp;{{ '(Pending Approval)' | translate }}</i>
                        <span *ngIf="isOwnerOfTopic" class="ml-3">
                                                    <button
                                                        class="btn btn-sm btn-success"
                                                        appSpinnerWhile
                                                        #approve="appSpinnerWhile"
                                                        (click)="approve.while(approveSubscription(sub))"
                                                    >
                                                        <i class="fas fa-check mr-1"></i>{{ 'Approve' | translate }}
                                                    </button>&nbsp;
                                                    <button
                                                        class="btn btn-sm btn-danger"
                                                        appSpinnerWhile
                                                        #rej2="appSpinnerWhile"
                                                        (click)="rej2.while(rejectSubscription(sub))"
                                                    >
                                                        <i class="fas fa-ban mr-1"></i>{{ 'Reject' | translate }}
                                                    </button>
                                                </span>
                        <span
                            *ngIf="sub.canDelete"
                            class="ml-3">
                                                    <button
                                                        class="btn btn-sm btn-danger"
                                                        appSpinnerWhile
                                                        #del2="appSpinnerWhile"
                                                        (click)="del2.while(unsubscribe(sub))"
                                                    >
                                                        <i class="fas fa-eraser mr-1"></i>{{ 'Unsubscribe' | translate }}
                                                    </button>
                                                </span>
                    </li>
                </ul>
                <span *ngIf="!topicSubscribers?.length"
                ><i>{{ 'None' | translate }}</i></span
                >
            </td>
            <td *ngIf="loadingSubscribers">
                <i class="fas fa-sync fa-spin mr-4"></i>
            </td>
        </tr>
        <tr *ngIf="topic.topicType !== 'INTERNAL'">
            <th scope="row">{{ 'Data' | translate }}</th>
            <td>
                <button type="button" class="btn btn-primary btn-sm"
                        (click)="openDataDlg(dataDlg)">
                    <i class="fas fa-table mr-3"></i>
                    {{ 'Show Topic Data' | translate }}
                </button>
            </td>
        </tr>
    </table>
</div>

<ng-template #updateTopicDescription let-dlg>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'Edit' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dlg.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mt-3">
            <textarea class="form-control" rows="5" cols="11" [(ngModel)]="updatedTopicDescription"></textarea></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ngbAutofocus appSpinnerWhile #d="appSpinnerWhile"
                (click)="d.while(updateTopicDesc()).then(dlg.dismiss)"><i
            class="fas fa-save mr-3"></i>{{ 'Save' | translate }}</button>
        <button type="button" class="btn btn-success" (click)="dlg.dismiss()"><i
            class="fas fa-times"></i>&nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>
</ng-template>

<ng-template #dataDlg let-dlg>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'View Topic Data' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dlg.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mt-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'Partition / Offset' | translate }}</th>
                    <th>{{ 'Key' | translate }}</th>
                    <th>{{ 'Value' | translate }}<a href="#" class="ml-4" (click)="formatDataValues()"
                                                    style="font-weight: bold;"><i class="fas fa-code"></i></a></th>

                </tr>
                </thead>
                <tbody>
                <tr *ngIf="topicDataLoading">
                    <td colspan="3">
                        <i class="fas fa-sync fa-spin mr-3"></i><i>{{ 'Loading Data, please wait...' | translate }}</i>
                    </td>
                </tr>
                <ng-container *ngIf="!topicDataLoading && (topicData | async)?.length">
                    <tr *ngFor="let row of topicData | async">
                        <td>{{ row.partition + ' / ' + row.offset }}</td>
                        <td>{{ row.key }}</td>
                        <td>
                            <pre>{{ row.value }}</pre>
                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="!topicDataLoading && !(topicData | async)?.length">
                    <td colspan="3">
                        <i>{{ 'No records found.' | translate }}</i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>
<ng-template #rejectConfirmDlg let-dlg>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'Confirm Subscription Cancellation' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dlg.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mt-3">
            <ngb-alert type="danger" [dismissible]="false">
            <span
                [innerHTML]="'REJECT_CONFIRM_DLG_HTML' | translate:{clientApplicationName: selectedSubscription.clientApplication.name}">
            </span>
            </ngb-alert>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" appSpinnerWhile #d="appSpinnerWhile"
                (click)="d.while(rejectSubscription(selectedSubscription)).then(dlg.dismiss)"><i
            class="fas fa-ban mr-3"></i>{{ 'Cancel Subscription' | translate }}</button>
        <button type="button" class="btn btn-success" (click)="dlg.dismiss()"><i
            class="fas fa-times"></i>&nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>
</ng-template>
<ng-template #rejectConfirmDlgNoApprove let-dlg>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'Confirm Unsubscription' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dlg.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mt-3">
            <ngb-alert type="danger" [dismissible]="false">
            <span
                [innerHTML]="'UNSUBSCRIBE_CONFIRM_DLG_HTML' | translate:{clientApplicationName: selectedSubscription.clientApplication.name}">
            </span>
            </ngb-alert>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" appSpinnerWhile #d="appSpinnerWhile"
                (click)="d.while(unsubscribe(selectedSubscription)).then(dlg.dismiss)"><i
            class="fas fa-eraser mr-1"></i>{{ 'Unsubscribe' | translate }}</button>
        <button type="button" class="btn btn-success" (click)="dlg.dismiss()"><i
            class="fas fa-times"></i>&nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>
</ng-template>

<ng-template #deleteProducerDlg let-dlg>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'Confirm Producer deletion' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dlg.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mt-3">
            <ngb-alert type="danger"
                       [innerHTML]="'DELETE_PRODUCER_PROMPT' | translate:{producerName: selectedProducer.name}"
                       [dismissible]="false">

            </ngb-alert>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" appSpinnerWhile #d="appSpinnerWhile"
                (click)="d.while(deleteProducer(topicName, selectedProducer.id).then(dlg.dismiss))">
            <i
                class="fas fa-eraser mr-1"></i>{{ 'Delete Producer' | translate }}</button>
        <button type="button" class="btn btn-success" (click)="dlg.dismiss()"><i
            class="fas fa-times"></i>&nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>
</ng-template>
<ng-template #changeOwnerDlg let-dlg>
    <div class="modal-header">
        <h4 class="modal-title"><i class="fas fa-exchange-alt"></i>
            {{ 'Change topic owner' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dlg.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mt-3">
            <ngb-alert type="warning" [dismissible]="false"><span
                [innerHTML]="'OWNER_CHANGE_ALL_STAGES_ALERT_HTML' | translate:{topicName:topicName, newTopicOwner: newTopicOwner.name}"></span>
            </ngb-alert>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" appSpinnerWhile #d="appSpinnerWhile"
                (click)="d.while(changeTopicOwner(topicName, newTopicOwner.id).then(dlg.dismiss))">
            <i class="fas fa-arrow-up mr-1"></i>{{ 'Change Owner' | translate }}</button>
        <button type="button" class="btn btn-success" (click)="dlg.dismiss()"><i
            class="fas fa-times"></i>&nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>
</ng-template>
