<div [@routerTransition]>
    <h2 class="text-muted d-inline-block">{{ 'Topic' | translate }} {{ topicName | async }}</h2>
    <span *ngIf="(topic | async)?.deprecated" class="badge badge-danger ms-3 "
          style="vertical-align: text-top">DEPRECATED</span>
    <hr/>
    <div *ngIf="(loading | async) === false" class="mt-3">
        <div *ngIf="topic | async">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <app-topic-metadata-table [topic]="topic | async" [isOwnerOfTopic]="isOwnerOfTopic | async"
                                                  [topicName]="topicName | async"
                                                  [topicSubscribers]="topicSubscribers | async"
                                                  [approvedTopicSubscribers]="approvedTopicSubscribers | async"
                                                  [pendingTopicSubscribers]="pendingTopicSubscribers | async"
                                                  (subsChanged)="refreshChildData()">
                        </app-topic-metadata-table>
                    </div>

                    <app-schema-section [topic]="topic | async" [isOwnerOfTopic]="isOwnerOfTopic | async"
                                        [topicSubscribers]="topicSubscribers | async"
                    ></app-schema-section>

                    <app-subscription-section [topic]="topic | async" [isOwnerOfTopic]="isOwnerOfTopic | async"
                                              [availableApplications]="availableApplications | async"
                                              [loadingApplications]="loadingApplications | async"
                                              (appChanged)="refreshChildData()">
                    </app-subscription-section>

                    <app-deprecation-component [topic]="topic | async" [isOwnerOfTopic]="isOwnerOfTopic | async">

                    </app-deprecation-component>

                    <app-delete-topic-component [topic]="topic | async"
                                                [isOwnerOfTopic]="isOwnerOfTopic | async"
                                                [topicName]="topicName | async"
                                                [translateParams]="translateParams"
                                                [selectedEnvironment]="selectedEnvironment | async">
                    </app-delete-topic-component>
                </div>
            </div>
        </div>

        <div *ngIf="(topic | async) === undefined">
            <p>{{ 'TOPIC_NOT_EXISTING_ON_ENVIRONMENT' | translate:translateParams }}</p>
        </div>
    </div>

    <div *ngIf="loading | async" class="mt-3"><i
        class="fas fa-sync fa-spin me-4"></i>{{ 'Loading...' | translate }}
    </div>
</div>
