.highlight {
    background-color: rgb(52, 235, 146);
    border: 2px solid #283593;
}

.highlight-red {
    background-color: rgb(235, 82, 52);
    border: 2px solid #283593;
}

.box-shadow {
    box-shadow: rgb(0 0 0 / 10%) 5px 5px 20px;
}

.slider {
    margin-left: 50px;
    width: 70vw;
}

.custom-label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1em;
}
