.quicklink {
    position: relative;
}

.quicklink .link-icon {
    position: absolute;
    display: block;
    text-align: center;
    width: 20px;
}

.quicklink  .link-text {
    margin-left: 30px;
}

.chat-panel{
    .chat{
        .left{
            img{
                margin-right: 15px;
                height: 30px;
                width: auto;
            }
        }
        .right{
            img{
                margin-left: 15px;
            }
        }
        height: 350px;
        overflow-y: scroll;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            margin-bottom: 10px;
            margin-right: 15px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #999;
        }
    }
}
