<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/assets/images/galapagos_text_white.png"></a>
        <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="fa fa-bars text-muted" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item" style="margin-left: 120px; color: white; font-weight: bold">
                    <img src="/assets/images/hermes_logo.png" alt="HERMES">
                </li>
                <li class="nav-item" style="margin-left: 220px;">
                    <strong style="color: #DC143C">{{ instanceNameInfo | async }}</strong>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown me-4" ngbDropdown>
                        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                            <i [class]="currentEnvironmentIcon | async"></i>&nbsp;&nbsp; {{ currentEnvironmentName | async }} <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu-right" ngbDropdownMenu>
                            <a *ngFor="let env of allEnvironments | async" class="dropdown-item" href="javascript:void(0)" (click)="selectEnvironment(env)">
                                {{ env.name }}
                            </a>
                        </div>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-language"></i>&nbsp;&nbsp; {{ 'Language' | translate }} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                            {{ 'English' | translate }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('de')">
                            {{ 'German' | translate }}
                        </a>
                    </div>
                </li>
                <li class="nav-item" style="margin-left: 10px"></li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i>&nbsp;&nbsp; {{ userName | async }} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item"
                           [routerLink]="['/user-settings']">
                            <i class="fa fa-fw fa-wrench"></i> {{ 'User Settings' | translate }}
                        </a>
                        <a class="dropdown-item" (click)="onLoggedout()">
                            <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                        </a>
                        <a class="dropdown-item" type="button" (click)="darkmodeButton()">
                           <div *ngIf="!darkmodeActive">
                                <i class="fa fa-fw fa-moon"></i> {{ 'Darkmode' | translate }}
                           </div>
                            <div *ngIf="darkmodeActive">
                                <i class="fa fa-fw fa-sun"></i> {{ 'Lightmode' | translate }}
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
