<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deine Role-Rechte wurden entzogen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; font-size: 11pt">
<p>
    Hallo liebe/r <span th:text="${user_name}">UserName</span>,
</p>
<p>Deine Role-Rechte für die Anwendung <span th:text="${app_name}" style="font-weight:bold">AppName</span> in der
    Umgebung
    <span th:text="${environment_name}" style="font-weight:bold">Environment</span> wurden von einem Administrator <b>entzogen</b>.
</p>
<p>Falls Du dies nicht für richtig hältst, wende Dich bitte an den Galapagos-Administrator <span th:text="${updated_by}"
                                                                                                 style="font-weight:bold">UserName</span>.
</p>
<br><br>
<p style="text-align: center">
</p>
<p><i style="font-size: 10pt">Diese E-Mail wurde von Galapagos an Dich als Antragsteller eines Application Owner
    Requests gesendet.
    Wenn Du der Meinung bist, dass Du diese E-Mail fälschlicherweise erhalten hast, wende Dich bitte an einen
    Galapagos-Administrator.</i>
</p>
</body>
</html>