<div>
    <div class="row">
        <div class="col-md-12 mb-5">
            <div>
                <ngb-alert type="warning" [dismissible]="false"><span
                    [innerHTML]="'ADD_PRODUCER_TEXT_HTML' | translate:{topicName:topic.name}"></span>
                </ngb-alert>

                <div appSpinnerWhile #d="appSpinnerWhile" class="form-group form-inline mt-3">
                    <label class="mr-3">{{ 'Select Producer' | translate }}</label>
                    <select class="form-control mr-3" name="appPicker" [(ngModel)]="selectedProducer">
                        <option *ngFor="let producerApp of selectableProducerApps" [ngValue]="producerApp"
                        >{{ producerApp.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

