<div>
    <div class="row">
        <div class="col-md-12 mb-5">
            <div>
                <p>some nice text goes here...</p>
                <button appSpinnerWhile #d="appSpinnerWhile" (click)="d.while(submitSelectedProducer())"
                        type="button"
                        class="btn btn-outline-success"><i
                    class="fas fa-fw"></i>{{ 'Add as Producer' | translate }}
                </button>
                <div class="btn-group" ngbDropdown role="group"
                     aria-label="Button group with nested dropdown">
                    <button class="btn btn-outline-primary" ngbDropdownToggle><i
                        class="fas fa-fw"></i>{{ selectedProducer?.name || 'Select Producer' | translate }}</button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button *ngFor="let producerApp of selectableProducerApps"
                                (click)="d.while(addProducer(producerApp))"
                                ngbDropdownItem>{{ producerApp.name }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
