<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Application Owner rights have been revoked</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; font-size: 11pt">
<p>
    Hello dear <span th:text="${user_name}">UserName</span>,
</p>
<p>Your Application Owner rights for the application <span th:text="${app_name}" style="font-weight:bold">AppName</span>
    have been <b>revoked</b> by an administrator.</p>
<p>If you believe this is incorrect, please contact the Galapagos administrator <span th:text="${updated_by}"
                                                                                      style="font-weight:bold">UserName</span>.
</p>
<br><br>
<p style="text-align: center">
</p>
<p><i style="font-size: 10pt">This email was sent to you by Galapagos as the requester of an Application Owner Request.
    If you believe you have received this email by mistake, please contact a Galapagos administrator.</i>
</p>
</body>
</html>
