<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Subscription for topic ' + ${topic_name_abbreviated} + ' has been approved'">Topic subscription has
        been approved</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="font-family: Helvetica, Arial, sans-serif; font-size: 11pt">
<p>
    Hello dear Galapagos user,
</p>
<p>The subscription of your application <b><span th:text="${client_application_name}"></span></b> to the Kafka topic <b><span
        th:text="${topic_name}">de.hlg.something.SomeTopic</span></b> has been <b>approved</b>.
</p>
<p>You can now access this topic with your application.</p>
<table style="width:300px; margin-left:auto; margin-right:auto">
    <tr>
        <td>
            <div style="background-color: #0091CD; border-radius: 4px; text-align: center; padding: 1em 1.5em">
                <a style="font-weight: bold; font-size:16pt; color: white; text-decoration: none"
                   th:href="${galapagos_topic_url}">Open Galapagos</a>
            </div>
        </td>
    </tr>
</table>
<br><br>
<p style="text-align: center">
</p>
<p><i style="font-size: 10pt">This email was sent to you by Galapagos because you are the Application Topic Owner of
    the application <span th:text="${client_application_name}"></span>.<br>
    If you believe you should not have received this email, please contact a Galapagos administrator.</i>
</p>
</body>
</html>
