<div class="row" *ngIf="topic.topicType !== 'INTERNAL'">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header"><i class="fas fa-file-code me-3"></i>{{ 'Schema' | translate }}</div>
            <div class="card-body">
                <div>
                    <div class="d-flex align-items-center mb-3"
                         *ngIf="(topicSchemas | async)?.length && !editSchemaMode">
                        <label for="schemaVersion">{{ 'Schema Version' | translate }}</label>
                        <select class="form-select w-auto ms-3" id="schemaVersion" name="schemaVersion"
                                [(ngModel)]="selectedSchemaVersion">
                            <option *ngFor="let schema of topicSchemas | async"
                                    [ngValue]="schema">{{ schema.schemaVersion }}{{ schema.isLatest ? ' ' + (currentText | async) : ''}}</option>
                        </select>
                        <button id="schemaDeleteButton" appSpinnerWhile
                                #p="appSpinnerWhile" (click)="(openDeleteConfirmDlg(deleteLatestSchemaDlg))"
                                class="btn btn-danger ms-3"
                                *ngIf="selectedSchemaVersion.isLatest && isOwnerOfTopic && (topicSubscribers?.length === 0
                                || (!(selectedEnvironment | async)?.stagingOnly && (schemaDeleteWithSub | async)))">
                            <i class="fas fa-trash me-3"></i>{{ 'Delete Schema' | translate }}
                        </button>

                    </div>
                    <p
                        *ngIf=" (topicSchemas | async)?.length > 1 && !editSchemaMode
                        && selectedSchemaVersion.schemaVersion > 1 && selectedSchemaVersion.changeDescription">
                        {{ 'Schema Changes' | translate }}: {{selectedSchemaVersion.changeDescription}}</p>
                    <button class="btn btn-success mb-3"
                            *ngIf="!(selectedEnvironment | async)?.stagingOnly && isOwnerOfTopic && !editSchemaMode"
                            (click)="startEditSchemaMode()"><i
                        class="fas fa-plus me-3"></i>{{ 'Publish new schema version' | translate }}</button>
                    <div class="schema-box scrollbar border mb-3"
                         *ngIf="selectedSchemaVersion && !editSchemaMode">
                                    <pre><code [highlight]="selectedSchemaVersion.jsonSchema" [languages]="['json']"
                                               [lineNumbers]="true"></code></pre>
                    </div>
                    <span *ngIf="selectedSchemaVersion && !editSchemaMode"> Schema URL: <code><a
                        [href]="schemaUrl(selectedSchemaVersion)">{{ schemaUrl(selectedSchemaVersion) }}</a></code></span>
                    <div *ngIf="editSchemaMode">
                        <p *ngIf="topic.topicType !== 'DATA'"
                           [innerHTML]="'EDIT_SCHEMA_DESCRIPTION' | translate"></p>
                        <p *ngIf="topic.topicType !== 'DATA';else dataText"
                           [innerHTML]="'EDIT_SCHEMA_DESCRIPTION_TOPIC' | translate"></p>
                        <ng-template #dataText>
                            <p [innerHTML]="'EDIT_SCHEMA_DESCRIPTION_TOPIC_DATA' | translate"></p>
                        </ng-template>
                        <textarea class="form-control"
                                  style="font-family: 'Courier New', Courier, monospace;" rows="30"
                                  cols="110" name="newSchemaText"
                                  [(ngModel)]="newSchemaText"></textarea><br>
                        <div *ngIf="(topicSchemas | async)?.length">
                            <label>{{ 'Add Change Description' | translate }}</label>
                            <input [(ngModel)]="schemaChangeDescription" type="text" size="50"
                                   class="form-control"/><br>
                        </div>
                        <ngb-alert *ngIf="skipCompatCheck" type="warning"
                                   [dismissible]="false">
                            <p [innerHTML]="'SKIP_COMPAT_CHECK_WARNING' | translate"></p>
                        </ngb-alert>
                        <div *ngIf="(isAdmin | async) && (topicSchemas | async)?.length" class="checkbox">
                            <label>
                                <input type="checkbox"
                                       [(ngModel)]="skipCompatCheck"> {{ 'Skip compatibility check' | translate }}
                            </label>
                        </div>

                        <button class="btn btn-success mt-3"
                                [disabled]="!newSchemaText || !newSchemaText.length" appSpinnerWhile
                                #p="appSpinnerWhile" (click)="p.while(publishNewSchema())"><i
                            class="fas fa-file-upload me-3"></i>{{ 'Publish Schema' | translate }}</button>

                        <button class="btn btn-danger mt-3 ms-3"
                                appSpinnerWhile #p="appSpinnerWhile" (click)="exitSchemaMode()"><i
                            class="fas fa-times me-3"></i>{{ 'Cancel' | translate }}</button>
                    </div>
                </div>
                <div *ngIf="!(topicSchemas | async)?.length && !editSchemaMode">
                    <i>{{ 'NO_SCHEMA_FOR_TOPIC' | translate }}</i>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteLatestSchemaDlg let-dlg>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'Delete Schema' | translate }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="dlg.dismiss()">

        </button>
    </div>
    <div class="modal-body">
        <div class="mt-3">
            <p>{{ 'DELETE_SCHEMA_DIALOG_QUESTION_TEXT' | translate }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ngbAutofocus appSpinnerWhile #d="appSpinnerWhile"
                (click)="d.while(deleteLatestSchema()).then(dlg.dismiss)"><i
            class="fas fa-trash me-3"></i>{{ 'Delete Schema' | translate }}</button>
        <button type="button" class="btn btn-success" (click)="dlg.dismiss()"><i
            class="fas fa-times"></i>&nbsp;{{ 'Cancel' | translate }}
        </button>
    </div>
</ng-template>
